<!--
  ~ Project:  Jbak Keyboard Mod
  ~ Purpose:  Keyboard for Android
  ~ Author:   Yuriy Bakunin (aka jtest), jbak1979@gmail.com, http://jbak.ru/jbakkeyboard/
  ~ Modification:  NikitaFeodonit, nfeodonit@yandex.com
  ~ ******************************************************************************
  ~ Copyright (C) 2007-2015 jbak.ru
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jbak.JbakKeyboard"
    >
    <!--android:versionName="0.97.7"-->
    <!--android:versionCode="35"-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--<uses-sdk android:minSdkVersion="5"/>-->
    <application
        android:label="@string/ime_name"
        android:icon="@drawable/icon"
        android:theme="@style/JbakAppLightTheme"
        android:allowBackup="true"
        >
        <!-- ============================================================================== -->
        <service
            android:name="ServiceJbKbd"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"
                />
        </service>
        <!-- ============================================================================== -->
        <service android:name="com.jbak.words.WordsService">
        </service>
        <!-- ============================================================================== -->
        <activity
            android:name="JbKbdPreference"
            android:label="@string/ime_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ============================================================================== -->
        <activity
            android:name="UpdVocabActivity"
            android:label="@string/set_key_ac_load_vocab"
            />
        <!-- ============================================================================== -->
        <activity android:name="SetKbdActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- ============================================================================== -->
        <activity
            android:name="TplEditorActivity"
            android:launchMode="singleTop"
            android:label="@string/tpl_editor"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- ============================================================================== -->
        <activity
            android:name="LangSetActivity"
            android:label="@string/set_languages"
            android:configChanges="orientation"
            />
        <!-- ============================================================================== -->
        <activity
            android:name="AboutActivity"
            android:label="@string/about"
            android:configChanges="orientation"
            />
        <!-- ============================================================================== -->
        <activity
            android:name="EditSetActivity"
            android:label="@string/es_title"
            android:configChanges="orientation"
            />
        <!-- ============================================================================== -->    <!-- admob -->

        <service android:name="com.google.android.voiceime.ServiceHelper"/>
        <activity
            android:name="com.google.android.voiceime.ActivityHelper"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:finishOnTaskLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            />

    </application>

</manifest>
